
<!DOCTYPE html>
<html>
<head>
  <meta charset="ISO-8859-1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>RMI/INSIGHTS |Dashboard</title>
 
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/public/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/bower_components/Ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="/public/dist/css/Rmi.min.css">
  <link rel="stylesheet" href="/public/dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="/public/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

    
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.js"/>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

	
		

  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
   
    <a href="/" class="logo" style='padding-left:0px;background-color:#2c6484;margin-right:-15px'>
      
      <span class="logo-mini"><img src="\Public\dist\img\logo.png" width="150px" height="50px"></span>
     
      <span class="logo-lg"><img src="\Public\dist\img\logo.png" width="225px" height="30px"></span>
    </a>
    
        
     
      <nav class="navbar navbar-static-top"    style="height: 15px">
      
    <!--  <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button" style="padding-left: 5px;margin-top: 0px">
        <span class="sr-only">Toggle navigation</span>
   </a>-->
        <div class="pull-right">
            
<ul class="nav navbar-nav">
    <h2><li class="logoo"></li></h2>
            </ul>
        
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            
            
                <li class="dropdown user user-menu">
            <div>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">

              <a href="/subscribe" class="btn btn-primary" style="width:250px;height:40px;margin-top:5px">Subscription Type (90 days left)</a>
                     
            </a>
             
                </div>          
              
              
    
          </li>
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
                <ul class="menu">
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        
                      </div>
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <p>Why not buy a new awesome report?</p>
                    </a>
                  </li>
                 
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        
                      </div>
                      <h4>
                        Reviewers
                        <small><i class="fa fa-clock-o"></i> 2 days</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li>
          
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">2</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 2 notifications</li>
              <li>
               
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                 
                  
                  <li>
                    <a href="#">
                      <i class="fa fa-user text-red"></i> You changed your username
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>

        
               <li>
            <a href="#" data-toggle="control-sidebar" style="color:white"><i class="fa fa-gears"></i></a>
          </li>
                      <li class="dropdown user user-menu">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" style="color:white">
              <img src="\Public\dist\img\user.png" class="user-image" alt="User Image">
             <span>  </span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="\Public\dist\img\user.png" class="img-circle" alt="User Image">

                <p>
                  
                  <small>CEO</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
                 
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          </ul>
            </div>
        </div>
    </nav>
  </header>
 
   <aside class="main-sidebar"> 
    <section class="sidebar"> 
    <!--  <div class="user-panel">
        <div class="pull-left image">
          <img src="\Public\dist\img\user.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <small style="font-size:25px;color:black">Varun Balan<br>CEO</small>
        </div>
      </div>-->
     
      <ul class="sidebar-menu" data-widget="tree">
       
          
          <li><a href="/source"><i class="fa fa-circle-o"></i> Source Data</a></li>
          
          <li><a href="/index"><i class="fa fa-circle-o"></i> KPI Dashboard</a></li>
        
          
          
        <li class="treeview">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Monthly Budget</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/adjust"><i class="fa fa-circle-o"></i> Adjust Assumption</a></li>
            <li><a href="/actual"><i class="fa fa-circle-o"></i> Actuals</a></li>
            <li><a href="/target"><i class="fa fa-circle-o"></i> Target v/s Actuals</a></li>
          </ul>
        </li>
          
          
          
          
          <li class="treeview">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Financial Model</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/financial"> Adjust Financial Model Drivers</a></li>
          
          </ul>
        </li>
      </ul>
    </section>
  </aside>
    
    
    
      <div class="content-wrapper" style="min-height:699px">
    
         <section class="content-header">
             
      <h1 style="color:#3c8dbc;text-align:left">
     Monthly Budget: Actuals
             </h1>
             <div class="container">
           <div class="form-group" style="width:150px;float:right;margin-top:-30px">
          
      <label for="sel1"></label>
      <select class="form-control" id="sel1" style="margin-left: -160px">
          <form>
          <option> Select Senario</option>
              <option>Base Senario</option>
              <option>Custom Senario1</option>
              <option>Custom Senario2</option>
              <option>Custom Senario3</option>
          </form>
               </select>
               <div class="btn-group">
                   
        <a href="#"><button type="button" style="color:black;margin-top:-70px;margin-right: 45px">Export</button></a>
             </div>
             </div>
             </div>
             
             
     
      <div class="btn-group" style="margin-right:5px;margin-top:-30px">
        <a href="actual"><button type="button" style="color:black;width:50px;margin-top:5px">Visual</button></a>
          <a href="/excel"> <button type="button" style="color:black;width:50px;margin-top:5px">Excel</button></a>
          <a href="/pdf"><button type="button" style="color:black;width:50px;margin-top:5">PDF</button></a>
       
      </div>
             <div class="btn-group" style="float:left;margin-top:10px;padding-bottom:30px">
        <a href="#"><button type="button" style="color:black;width:150px">All</button></a>
          <a href="#"><button type="button" style="color:black;width:150px">T12M</button></a>
          <a href="#"><button type="button" style="color:black;width:150px">T6M</button></a>
                  <a href="#"><button type="button" style="color:black;width:150px">T3M</button></a>
                  <a href="#"><button type="button" style="color:black;width:150px">YTD</button></a>
                  <a href="#"><button type="button" style="color:black;width:150px">Current Month</button></a>
       
      </div>
    </section>
  
         
         
         <section class="content">
     
      <div class="row">
       
        <section class="col-lg-7 connectedSortable" style="width:510px">
          
                    <div class="box box-success" style="min-width: 310px; height: 460px">
            <div class="box-header with-border">
              <h3 class="box-title" style="margin-right:255px;font-size:25px;margin-top:10px">Total Revenue</h3>
<div id="totalrevenue" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
						</div>
            </div>
            
         
         
               
               
            
          
            
                  <div class="box box-success" style="min-width: 310px; height: 460px">
            <div class="box-header with-border">
              <h3 class="box-title" style="margin-right:255px;font-size:25px;margin-top:10px">Net Income</h3>
				<div id="netincome" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
         
            </div>        
						</div>
               
            
          <div class="box box-success" style="min-width: 310px; height: 460px">
<div class="box-header with-border">
              <h3 class="box-title" style="margin-right:180px;font-size:25px;margin-top:10px">EBIT</h3>
			  
          <div id="ebit" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            <!-- /.box-body -->
          </div>
			  </div>
            
            
            
         
         
  

        </section>
       
        <section class="col-lg-5 connectedSortable" style="width:510px;padding-left:5px;margin-right:4px">
            
            
           
                  <div class="box box-success" style="min-width: 310px; height: 460px">
            <div class="box-header with-border">
              <h3 class="box-title" style="margin-right:255px;font-size:25px;margin-top:10px">Gross Profit</h3>
<div id="grossprofit" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
         
            </div>
            
            
            <div class="box box-success" style="min-width: 310px; height: 460px;margin-top: 25px;margin-left: 5px;">
            <div class="box-header with-border">
              <h3 class="box-title" style="margin-right:255px;font-size:25px;margin-top:5px">EBITDA</h3>
<div id="ebitda" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
          </div>
            </div>
            
                   <div class="box box-success" style="min-width: 310px; height: 460px;margin-top: 15px;margin-left: 5px;">
            <div class="box-header with-border">
              <h3 class="box-title" style="margin-right:255px;font-size:25px;margin-top:5px">EBT</h3>
<div id="ebt" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
          
          </div>
            </div>
                </div>
                         </div>
                        </section>
                        </div>    
		  </section>
	</div>
	</div>
	
		
    
     
        
         <!-- jQuery 3 -->
<script src="/public/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/public/bower_components/jquery-ui/jquery-ui.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/public/dist/js/rmi.min.js"></script>
<script src="/public/dist/js/demo.js"></script>
    
    
    <script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="/public/bower_components/moment/min/moment.min.js"></script>
<script src="/public/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/public/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="/public/dist/js/pages/dashboard.js"></script> 
    <script src="/public/bower_components/jquery/dist/jquery.min1.js"></script>
<!--
         <script type="text/javascript">
$(function(){
$('.input-group.date').datepicker({
    calendarWeeks: true,
    todayHighlight: true,
    autoclose: true
});  
});
              </script>-->
    

    
    
    
    
    
    
    
    
    
    
 
    
    
    <script type="text/javascript">
	var settings = {
  "async": true,
  "crossDomain": true,
  "url": "http://34.67.197.111:8000/actuals?company=Nike-Y",
  "method": "GET",
  "headers": {
    "authorization": "Basic cm1pX3VzZXI6cm1pMzIxIUAj",
    "content-type": "application/json",
    "cache-control": "no-cache",
    "postman-token": "648dcbfa-30ef-3359-f29a-31b2038f29ac"
  },
  "processData": false,
  /*"data": "[{\"asof\": \"2018-01-15\", \"cogs\": 20441000.0, \"companyname\": \"Nike-Y\", \"da\": 716000.0, \"ebit\": 4945000.0, \"ebitda\": 5661000.0, \"ebt\": 4886000.0, \"grossprofit\": 87359485.0, \"latest\": 1, \"netincome\": 4240000.0, \"netinterest\": 59000.0, \"otherincome\": -196000.0, \"sga\": 9651000.0, \"taxes\": 646000.0, \"totalrevenue\": 36397000.0}]"*/
}

$.ajax(settings).done(function (response){		 
					 console.log(response);
	  var obj = JSON.parse(response);
					 var categories = [], data1 = [], data2 = [], data3 = [], data4 = [];
					 	for(var i in obj){
							categories.push(obj[i].asof);
   								var name = (obj[i].asof);
   								data1.push(parseInt(obj[i].totalrevenue));
					 console.log(obj);
			  Highcharts.chart('totalrevenue', {
				    chart: {
				        type: 'column'
				    },
				    title: {
				        text: ''
				    },
				    xAxis: {
				        categories: categories
				          
				    },
				    yAxis: {
				        min: 0,
				        title: {
				            text: 'Expenses'
				        }
				    },
				    series: [{
						name:"value1",
						data:data1
					}]
				});
		    }}
	);
	</script>
  
  
     <script type="text/javascript">
	var settings = {
  "async": true,
  "crossDomain": true,
  "url": "http://34.67.197.111:8000/actuals?company=Nike-Y",
  "method": "GET",
  "headers": {
    "authorization": "Basic cm1pX3VzZXI6cm1pMzIxIUAj",
    "content-type": "application/json",
    "cache-control": "no-cache",
    "postman-token": "648dcbfa-30ef-3359-f29a-31b2038f29ac"
  },
  "processData": false,
  /*"data": "[{\"asof\": \"2018-01-15\", \"cogs\": 20441000.0, \"companyname\": \"Nike-Y\", \"da\": 716000.0, \"ebit\": 4945000.0, \"ebitda\": 5661000.0, \"ebt\": 4886000.0, \"grossprofit\": 87359485.0, \"latest\": 1, \"netincome\": 4240000.0, \"netinterest\": 59000.0, \"otherincome\": -196000.0, \"sga\": 9651000.0, \"taxes\": 646000.0, \"totalrevenue\": 36397000.0}]"*/
}

$.ajax(settings).done(function (response){		 
					 console.log(response);
	  var obj = JSON.parse(response);
					 var categories = [], data1 = [], data2 = [], data3 = [], data4 = [];
					 	for(var i in obj){
							categories.push(obj[i].asof);
   								var name = (obj[i].asof);
   								data1.push(parseInt(obj[i].netincome));
					 console.log(obj);
			  Highcharts.chart('netincome', {
				    chart: {
				        type: 'column'
				    },
				    title: {
				        text: ''
				    },
				    xAxis: {
				        categories: categories
				          
				    },
				    yAxis: {
				        min: 0,
				        title: {
				            text: 'Expenses'
				        }
				    },
				    series: [{
						name:"value1",
						data:data1
					}]
				});
		    }}
	);
	</script>
	 <script type="text/javascript">
	var settings = {
  "async": true,
  "crossDomain": true,
  "url": "http://34.67.197.111:8000/actuals?company=Nike-Y",
  "method": "GET",
  "headers": {
    "authorization": "Basic cm1pX3VzZXI6cm1pMzIxIUAj",
    "content-type": "application/json",
    "cache-control": "no-cache",
    "postman-token": "648dcbfa-30ef-3359-f29a-31b2038f29ac"
  },
  "processData": false,
  /*"data": "[{\"asof\": \"2018-01-15\", \"cogs\": 20441000.0, \"companyname\": \"Nike-Y\", \"da\": 716000.0, \"ebit\": 4945000.0, \"ebitda\": 5661000.0, \"ebt\": 4886000.0, \"grossprofit\": 87359485.0, \"latest\": 1, \"netincome\": 4240000.0, \"netinterest\": 59000.0, \"otherincome\": -196000.0, \"sga\": 9651000.0, \"taxes\": 646000.0, \"totalrevenue\": 36397000.0}]"*/
}

$.ajax(settings).done(function (response){		 
					 console.log(response);
	  var obj = JSON.parse(response);
					 var categories = [], data1 = [], data2 = [], data3 = [], data4 = [];
					 	for(var i in obj){
							categories.push(obj[i].asof);
   								var name = (obj[i].asof);
   								data1.push(parseInt(obj[i].ebit));
					 console.log(obj);
			  Highcharts.chart('ebit', {
				    chart: {
				        type: 'column'
				    },
				    title: {
				        text: ''
				    },
				    xAxis: {
				        categories: categories
				          
				    },
				    yAxis: {
				        min: 0,
				        title: {
				            text: 'Expenses'
				        }
				    },
				    series: [{
						name:"value1",
						data:data1
					}]
				});
		    }}
	);
	</script>
  
   <script type="text/javascript">
	var settings = {
  "async": true,
  "crossDomain": true,
  "url": "http://34.67.197.111:8000/actuals?company=Nike-Y",
  "method": "GET",
  "headers": {
    "authorization": "Basic cm1pX3VzZXI6cm1pMzIxIUAj",
    "content-type": "application/json",
    "cache-control": "no-cache",
    "postman-token": "648dcbfa-30ef-3359-f29a-31b2038f29ac"
  },
  "processData": false,
  /*"data": "[{\"asof\": \"2018-01-15\", \"cogs\": 20441000.0, \"companyname\": \"Nike-Y\", \"da\": 716000.0, \"ebit\": 4945000.0, \"ebitda\": 5661000.0, \"ebt\": 4886000.0, \"grossprofit\": 87359485.0, \"latest\": 1, \"netincome\": 4240000.0, \"netinterest\": 59000.0, \"otherincome\": -196000.0, \"sga\": 9651000.0, \"taxes\": 646000.0, \"totalrevenue\": 36397000.0}]"*/
}

$.ajax(settings).done(function (response){		 
					 console.log(response);
	  var obj = JSON.parse(response);
					 var categories = [], data1 = [], data2 = [], data3 = [], data4 = [];
					 	for(var i in obj){
							categories.push(obj[i].asof);
   								var name = (obj[i].asof);
   								data1.push(parseInt(obj[i].grossprofit));
					 console.log(obj);
			 Highcharts.chart('grossprofit', {
				    chart: {
				        type: 'column'
				    },
				    title: {
				        text: ''
				    },
				    xAxis: {
				        categories: categories
				          
				    },
				    yAxis: {
				        min: 0,
				        title: {
				            text: 'Expenses'
				        }
				    },
				    series: [{
						name:"value1",
						data:data1
					}]
				});
		    }}
	);
	</script>
  
   <script type="text/javascript">
	var settings = {
  "async": true,
  "crossDomain": true,
  "url": "http://34.67.197.111:8000/actuals?company=Nike-Y",
  "method": "GET",
  "headers": {
    "authorization": "Basic cm1pX3VzZXI6cm1pMzIxIUAj",
    "content-type": "application/json",
    "cache-control": "no-cache",
    "postman-token": "648dcbfa-30ef-3359-f29a-31b2038f29ac"
  },
  "processData": false,
  /*"data": "[{\"asof\": \"2018-01-15\", \"cogs\": 20441000.0, \"companyname\": \"Nike-Y\", \"da\": 716000.0, \"ebit\": 4945000.0, \"ebitda\": 5661000.0, \"ebt\": 4886000.0, \"grossprofit\": 87359485.0, \"latest\": 1, \"netincome\": 4240000.0, \"netinterest\": 59000.0, \"otherincome\": -196000.0, \"sga\": 9651000.0, \"taxes\": 646000.0, \"totalrevenue\": 36397000.0}]"*/
}

$.ajax(settings).done(function (response){		 
					 console.log(response);
	  var obj = JSON.parse(response);
					 var categories = [], data1 = [], data2 = [], data3 = [], data4 = [];
					 	for(var i in obj){
							categories.push(obj[i].asof);
   								var name = (obj[i].asof);
   								data1.push(parseInt(obj[i].ebitda));
			 Highcharts.chart('ebitda', {
				    chart: {
				        type: 'column'
				    },
				    title: {
				        text: ''
				    },
				    xAxis: {
				        categories: categories
				          
				    },
				    yAxis: {
				        min: 0,
				        title: {
				            text: 'Expenses'
				        }
				    },
				    series: [{
						name:"value1",
						data:data1
					}]
				});
		    }}
	);
	</script>
  
   <script type="text/javascript">
var settings = {
  "async": true,
  "crossDomain": true,
  "url": "http://34.67.197.111:8000/actuals?company=Nike-Y",
  "method": "GET",
  "headers": {
    "authorization": "Basic cm1pX3VzZXI6cm1pMzIxIUAj",
    "content-type": "application/json",
    "cache-control": "no-cache",
    "postman-token": "648dcbfa-30ef-3359-f29a-31b2038f29ac"
  },
  "processData": false,
  /*"data": "[{\"asof\": \"2018-01-15\", \"cogs\": 20441000.0, \"companyname\": \"Nike-Y\", \"da\": 716000.0, \"ebit\": 4945000.0, \"ebitda\": 5661000.0, \"ebt\": 4886000.0, \"grossprofit\": 87359485.0, \"latest\": 1, \"netincome\": 4240000.0, \"netinterest\": 59000.0, \"otherincome\": -196000.0, \"sga\": 9651000.0, \"taxes\": 646000.0, \"totalrevenue\": 36397000.0}]"*/
}

$.ajax(settings).done(function (response){		 
					 console.log(response);
	  var obj = JSON.parse(response);
					 var categories = [], data1 = [], data2 = [], data3 = [], data4 = [];
					 	for(var i in obj){
							categories.push(obj[i].asof);
   								var name = (obj[i].asof);
   								data1.push(parseInt(obj[i].ebt));
					 console.log(obj);
					
					 
			 Highcharts.chart('ebt', {
				    chart: {
				        type: 'column'
				    },
				    title: {
				        text: ''
				    },
				    xAxis: {
				        categories: categories
				          
				    },
				    yAxis: {
				        min: 0,
				        title: {
				            text: 'Expenses'
				        }
				    },
				    series: [{
						name:"value1",
						data:data1
					}]
				});
		    }}
	);
	</script>
  
  
    
  
  
    
	
    
    </body></html>
