
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>RMI/INSIGHTS |Dashboard</title>
 
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  
  <link rel="stylesheet" href="/public/bower_components/bootstrap/dist/css/bootstrap.min.css">
 
  <link rel="stylesheet" href="/public/bower_components/font-awesome/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="/public/bower_components/Ionicons/css/ionicons.min.css">
  
  <link rel="stylesheet" href="/public/dist/css/Rmi.min.css">
  <link rel="stylesheet" href="/public/dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="/public/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

    <script src="https://awesome-table.com/AwesomeTableInclude.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.js"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.debug.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css"></script>
	
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>

<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>

<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
<div>
  <header class="main-header">
      <nav class="navbar navbar-static-top"    style="height: 15px">
      <a href="/" class="logo" style='background-color:#008fa6;margin-right:-15px'>
      
      <span class="logo-mini"><img src="\Public\dist\img\logo.png" width="150px" height="50px"></span>
     
      <span class="logo-lg"><img src="\Public\dist\img\logo.png" width="225px" height="30px"></span>
    </a>
    <!--  <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button" style="padding-left: 5px;margin-top: 0px">
        <span class="sr-only">Toggle navigation</span>
   </a>-->
        <div class="pull-right">
            
<ul class="nav navbar-nav">
    <h2><li class="logoo"></li></h2>
            </ul>
        
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            
            
                <li class="dropdown user user-menu">
            <div>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">

              <a href="/subscribe" class="btn btn-primary" style="width:250px;height:40px;margin-top:5px">Subscription Type (90 days left)</a>
                     
            </a>
             
                </div>          
              
              
    
          </li>
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
                <ul class="menu">
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        
                      </div>
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <p>Why not buy a new awesome report?</p>
                    </a>
                  </li>
                 
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        
                      </div>
                      <h4>
                        Reviewers
                        <small><i class="fa fa-clock-o"></i> 2 days</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li>
          
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">2</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 2 notifications</li>
              <li>
               
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                 
                  
                  <li>
                    <a href="#">
                      <i class="fa fa-user text-red"></i> You changed your username
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>

        
               <li>
            <a href="#" data-toggle="control-sidebar" style="color:white"><i class="fa fa-gears"></i></a>
          </li>
                      <li class="dropdown user user-menu">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" style="color:white">
              <img src="\Public\dist\img\user.png" class="user-image" alt="User Image">
             <span>  </span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="\Public\dist\img\user.png" class="img-circle" alt="User Image">

                <p>
                  
                  <small>CEO</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
                 
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          </ul>
            </div>
        </div>
    </nav>
  </header>
 
   <aside class="main-sidebar"> 
    <section class="sidebar"> 
    <!--  <div class="user-panel">
        <div class="pull-left image">
          <img src="\Public\dist\img\user.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <small style="font-size:25px;color:black">Varun Balan<br>CEO</small>
        </div>
      </div>-->
     
      <ul class="sidebar-menu" data-widget="tree">
       
          
          <li><a href="/source"><i class="fa fa-circle-o"></i> Source Data</a></li>
          
          <li><a href="/index"><i class="fa fa-circle-o"></i> KPI Dashboard</a></li>
        
          
          
        <li class="treeview">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Monthly Budget</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/adjust"><i class="fa fa-circle-o"></i> Adjust Assumption</a></li>
            <li><a href="/actual"><i class="fa fa-circle-o"></i> Actuals</a></li>
            <li><a href="/target"><i class="fa fa-circle-o"></i> Target v/s Actuals</a></li>
          </ul>
        </li>
          
          
          
          
          <li class="treeview">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Financial Model</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/finan"> Adjust Financial Model Drivers</a></li>
          
          </ul>
        </li>
      </ul>
    </section>
  </aside>
    
    
    
     
       <div class="content-wrapper" style="min-height:699px">
    
         <section class="content-header">
             
      <h1 style="color:#3c8dbc;text-align:left">
     Monthly Budget: Target v/s Actuals
             </h1>
             <div class="container">
           <div class="form-group" style="width:150px;float:right;margin-top:-70px">
          
      <label for="sel1"></label>
      <select class="form-control" id="sel1" style="margin-left:-250px">
          <form>
          <option> Select Senario</option>
              <option>Base Senario</option>
              <option>Custom Senario1</option>
              <option>Custom Senario2</option>
              <option>Custom Senario3</option>
          </form>
               </select>
              
             </div>
             </div>
			 
             
             
     
      <div class="btn-group" style="margin-right:5px;margin-top:20px">
        <a href="target"><button type="button" style="color:black;width:50px;margin-top:5px">Visual</button></a>
          <a href="excel"> <button type="button" style="color:black;width:50px;margin-top:5px">Excel</button></a>
          <a href="pdf"><button type="button" style="color:black;width:50px;margin-top:5">PDF</button></a>
       
                     
				   
        <button type="button" id="export" style="color:black">Export</button>
             
      </div>
             <div class="btn-group" style="float:left;margin-top:20px">
        <a href="#"><button type="button" style="color:black;width:150px">All</button></a>
          <a href="#"><button type="button" style="color:black;width:150px">T12M</button></a>
          <a href="#"><button type="button" style="color:black;width:150px">T6M</button></a>
                  <a href="#"><button type="button" style="color:black;width:150px">T3M</button></a>
                  <a href="#"><button type="button" style="color:black;width:150px">YTD</button></a>
                  <a href="#"><button type="button" style="color:black;width:150px">Current Month</button></a>
       
      </div>
		
				 

    </section>
  <div class="content-wrapper" style="margin-left:5px;margin-right:5px" >
       
         
         
         <section class="content">
     
      <div class="row" style="padding-top:50px" id="customer">
       <div class="col-xs-12">
        
                 
             
    
         
     
        <table class="display nowrap" id="example" border="1">
  <thead>
    <tr>
        
		<th scope="row"  style="color:balck;width:350px">&nbsp;</th>
      <th scope="row"  style="color:black;width:200px;text-align:center">asof</th>
      <th scope="row"  style="color:black;width:200px;text-align:center">asof</th>
      <th scope="row"  style="color:black;width:200px;text-align:center">asof</th>
    
    </tr>
 </thead>
   <tbody>
    <tr>
      <th scope="row" style="color:black" style="width:30px">Total Revenue</th>
      <!--<td style="color:black;text-align:center" >$15,442,262</td>
      <td  style="color:black;text-align:center">$14,515,726</td>
      <td  style="color:red;text-align:center">(6.0%)</td>-->
    </tr>
      
      
      
      <tr>
      <th scope="row"  style="color:black">Y-O-Y Growth %</th>
      <!--<td  style='color:black;text-align:right'>$156,352,901</td>
      <td  style='color:black;text-align:right'>$150,832,293</td>
      <td  style="color:red;text-align:right">(3.5%)</td>-->
    </tr>
	  <tr>
      <th scope="row"  style="color:black">(–) Cost of Goods Sold ("COGS")</th>
      <!--<td  style='color:black;text-align:right'>$156,352,901</td>
      <td  style='color:black;text-align:right'>$150,832,293</td>
      <td  style="color:red;text-align:right">(3.5%)</td>-->
    </tr>
	  <tr>
      <th scope="col"  style="color:black">Gross Profit</th>
    </tr>
	  <tr>
      <th scope="col"  style="color:black">Gross Margin %</th>
    </tr>
	  <tr>
      <th scope="col"  style="color:black">(–) Selling, General, & Administrative ("SG&A")</th>
    </tr>
	  <tr>
      <th scope="col"  style="color:black">EBIT</th>
    </tr>
	  <tr>
      <th scope="col"  style="color:black">EBIT Margin %</th>
    </tr>
	  <tr>
      <th scope="col"  style="color:black">(+) Depreciation & Amortization ("D&A")</th>
    </tr>
	  <tr>
      <th scope="col"  style="color:black">EBITDA</th>
    </tr>
	  <tr>
      <th scope="col"  style="color:black">EBITDA Margin %</th>
    </tr>
	  <tr>
      <th scope="col"  style="color:black">EBIT</th>
    </tr>
	  <tr>
      <th scope="col"  style="color:black">(–) Net Interest Expense</th>
    </tr>
	  <tr>
		  <th scope="col"  style="color:black">(+ / –) Other Income / (Expense)</th>
    </tr>
	   <tr>
      <th scope="col"  style="color:black">EBT</th>
      
    </tr>
	   <tr>
		   <th scope="col"  style="color:black">(–) Taxes</th>
    </tr>
	  <tr>
      <th scope="col"  style="color:black">Net Income</th>
      
    </tr>
	  <tr>
      <th scope="col"  style="color:black">Net Income Margin %</th>
      
    </tr>
		</tbody>	
</table>


      </div>
      
        
  </div>
                  
       
                        
          
            
	  </section>
         </div>
               
		   </div>
		   
            
     
        
            
            
      
           
        
  </div>
        
                    
            
        
                           
     
        
         <!-- jQuery 3 -->
<script src="/public/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/public/bower_components/jquery-ui/jquery-ui.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/public/dist/js/rmi.min.js"></script>
<script src="/public/dist/js/demo.js"></script>
    
    
    <script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="/public/bower_components/moment/min/moment.min.js"></script>
<script src="/public/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/public/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="/public/dist/js/pages/dashboard.js"></script> 
    <script src="/public/bower_components/jquery/dist/jquery.min1.js"></script>

        
    
    
<!--<script>
    


$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
    </script>-->
    
  
    <script type="text/javascript">
        document.getElementById('export').addEventListener('click',
  exportPDF);

var specialElementHandlers = {
  // element with id of "bypass" - jQuery style selector
  '.no-export': function(element, renderer) {
    // true = "handled elsewhere, bypass text extraction"
    return true;
  }
};

function exportPDF() {

  var doc = new jsPDF('p', 'pt', 'a4');
  //A4 - 595x842 pts
  //https://www.gnu.org/software/gv/manual/html_node/Paper-Keywords-and-paper-size-in-points.html


  //Html source 
  var source = document.getElementById('customer').innerHTML;

  var margins = {
    top: 10,
    bottom: 10,
    left: 10,
    width: 595
  };

  doc.fromHTML(
    source, // HTML string or DOM elem ref.
    margins.left,
    margins.top, {
      'width': margins.width,
      'elementHandlers': specialElementHandlers
    },

    function(dispose) {
      // dispose: object with X, Y of the last line add to the PDF 
      //          this allow the insertion of new lines after html
      doc.save('Test.pdf');
    }, margins);
}

    </script>
	
	
	<!--<script>
	var doc = new jsPDF();

// We'll make our own renderer to skip this editor
var specialElementHandlers = {
    '#editor': function(element, renderer){
        return true;
    }
};

doc.fromHTML($('#customer').get(0), 15, 15, {
    'width': 170, 
    'elementHandlers': specialElementHandlers
});
//doc.save('Test.pdf');

$('#export').click(function(){
  doc.save('TestHTMLDoc.pdf');
});
 
    
    </script>-->
<!--	<script>
   function exportTableToExcel(tableID, filename = ''){
    var downloadLink;
    var dataType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById(tableID);
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
    
    // Specify file name
    filename = filename?filename+'.xls':'excel_data.xls';
    
    // Create download link element
    downloadLink = document.createElement("a");
    
    document.body.appendChild(downloadLink);
    
    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['\ufeff', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
    
        // Setting the file name
        downloadLink.download = filename;
        
        //triggering the function
        downloadLink.click();
    }
}

	
	</script>-->

     
        
         <!-- jQuery 3 -->
<script src="/public/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/public/bower_components/jquery-ui/jquery-ui.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/public/dist/js/rmi.min.js"></script>
<script src="/public/dist/js/demo.js"></script>
    
    
    <script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="/public/bower_components/moment/min/moment.min.js"></script>
<script src="/public/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/public/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="/public/dist/js/pages/dashboard.js"></script> 
    <script src="/public/bower_components/jquery/dist/jquery.min1.js"></script>

        
    
    

    
	</div>
	</div>

    
    
    
    
 
    </body></html>